{% extends 'portfolio/base.html' %}
<!DOCtype html>
<html>
<head></head>
<body>
{% load static %}
    {% block content %}
        <div class="page-header">
            <h1>About</h1>
        </div>

        <div class="container">
            <article>
                <div class='text'>
                    <p> 뉴닉에 지원하려고 django로 뉴닉 사이트를 직접 따라 만들어보면서 개인프로젝트를 진행했습니다. 프로그래밍 언어 중 처음으로 배운 언어가 파이썬이어서 django로 웹사이트 제작에 관심이 있었습니다.</br></p> 
                    <p>이번 프로젝트에서 기존에 뉴닉을 이용하면서 새로 추가해볼만한 기능을 염두에 두고 기획하였습니다. </br></p>
                    <p>첫번째 기능은 기사글 미리보기였습니다. 저도 뉴닉을 지인에게 추천받아 구독중이지만, 처음 웹사이트를 방문했을 때 어떤 기사를 제공하는지 알 수 없어서 구독신청을 망설였습니다. 뉴닉은 입소문으로 빠르게 구독층을 확보하고 있지만 첫 화면에 기사글을 보여주거나, 제한적으로 기사글을 보여주고 유료 구독서비스를 가입하도록 유도하는 것은 어떨지 생각해봤습니다.</br></p>
                    <p>두번째 기능은 인스타그램에서 뉴닉 검색으로 크롤링해온 결과를 보여주는 기능입니다. 현재는 구독자의 메모가 적힌 것을 메인화면에서 볼 수 있지만, 실시간 혹은 주기적으로 SNS에서 수집한 사람들의 뉴닉에 대한 기록을 제공하는 것입니다. 뉴닉 사이트 방문객들은 다른 사람들의 기록을 볼 수 있으면서 체류시간과 구독 증진에 효과가 있으리라 기대해봅니다.</br></p>
                    <p>처음 접해본 웹 프레임워크와 백엔드, 프론트엔드까지 고민하며 만들어볼 수 있어서 1주일 동안 많은 것을 배웠습니다. 
                            </p>
                </div>
            </article>
        </div>
    {% endblock %}
